@import url('https://fonts.googleapis.com/css?family=Teko:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

* {
    margin: 0;
}

body {
    font-family: "Oswald", "san-serif";
}

.container {
    width: 100%;
}

.overview {
    text-align: center;
    margin-bottom: 30px;
}

/*Home page*/

.site-intro-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-intro-text-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
}

.site-intro-paragraph-home {
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 15px 0;
    text-align: center;
}
    
.home-page-links {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.home-page-links a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.home-page-links a:hover {
    text-transform: uppercase;
    background-color: #000;
    text-decoration: none;
    margin: 10px 5px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.home-social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.social-links-home {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.social-links-home li a {
    text-decoration: none;
}

.social-links-home li a i {
    padding: 10px 10px;
    margin: 0px 5px;
    color: #fff;
    font-size: 30px;
    transition: 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.social-links-home li a i:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
}

.main-image-home-page {
    background-image: url("../images/front-page-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.main-image-shade-home {
    background-color: rgb(0, 0, 0, 0.6);
}

/*Header Area*/

/*Main images on each of the pages*/

.championship-page-image {
    background-image: url("../images/front-page-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.btcc-page-image {
    background-image: url("../images/touring-car.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.brc-page-image {
    background-image: url("../images/rallycross.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.bgt-page-image {
    background-image: url("../images/british-gt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.sbk-page-image {
    background-image: url("../images/superbike.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.brallyc-page-image {
    background-image: url("../images/rally.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.historics-page-image {
    background-image: url("../images/1980s-benetton.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.circuits-page-image {
    background-image: url("../images/racetrack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.events-page-image {
    background-image: url("../images/events.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.main-image-shade {
    background-color: rgb(0, 0, 0, 0.6);
    height: auto;
}

/*Navbar elements along the top of the site basic formatting. Includes the about link and return to top in the footer.*/

.navbar {
    display: flex;
    justify-content: center;
	margin: 0;
	width: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: "Teko", "sans-serif";
    list-style-type: none;
    font-size: 35px;
    z-index: 1;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 14px 8px 14px 8px;
    text-decoration: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.footer-navbar {
    margin: 0;
	width: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: "Teko", "sans-serif";
    list-style-type: none;
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
}

.footer-navbar a {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 14px 0 14px 0;
    text-decoration: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-links div button {
    text-transform: uppercase;
}

#top-return {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
}

.navbar-to-top {
    padding: 0px;
    margin: 0px;
}

/*Navbar drop down areas*/

.navbar-dropdown {
    color: #fff;
    width: 40px;
    margin-right: 20px;
    align-self: flex-end;
}

.navbar-checkbox-input {
    display: none;
}

.navbar-display {
    display: none;
}

#navbar-dropdown:checked + .navbar-display {
    display: inherit;
}

.navbar a:hover {
    background-color: #333;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

/*Header section of writing*/

.site-intro {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-intro-text {
    width: 90%;
}

.site-intro-header {
    font-size: 30px;
    color: #fafafa;
}

.site-intro-paragraph {
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 15px 0;
    text-align: left;
}

/*Championship Sections*/

.section-container {
    display: flex;
    justify-content: center;
}

.section-layout {
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.championship-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.events-circuit-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.site-header {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
}

.section-header {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    padding: 15px 0 0 0;
    text-transform: uppercase;
}

.video-section-header {
    text-align: center;
}

.section-paragraph {
    font-weight: 300;
    padding: 0 0 15px 0;
    text-align: left;
}

.championship-section,
.circuit-section,
.event-section {
    width: 100%;
    margin-bottom: 30px;
}

.championship-image {
    margin-top: 10px;
    height: 200px;
    max-width: 100%;
}

.championship-description {
    width: 90%;
    color: #fff;
}

.championships-intro {
    width: 100%;
}

.events-circuit-intro {
    width: 100%;
}

.championship-heading {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    text-transform: uppercase;
}

.championship-paragraph {
    font-weight: 300;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

/*Individual championship schedules*/

.schedule-section,
.teams-driver-section,
.video-section,
.link-button-section,
.contact-section,
.championship-section,
.circuit-section,
.event-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.schedule-row,
.schedule-teams-row,
.video-row,
.contact-row,
.circuit-row {
    width: 90%;
}

.schedule-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-button {
    width: 300px;
}

.championship-round {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.schedule div h5 {
    width: 40%;
    height: 34px;
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.schedule div h4 {
    width: 65%;
    height: 34px;
    font-weight: 300;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    text-transform: uppercase;
    text-decoration: none;
}

/*Teams and driver section*/

.teams-driver-list {
    width: 100%;
}

.team {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #fff;
    color: #333;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*Hover check*/

/*BTCC*/

.btcc-team:hover {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #75468e;
    transition-property: background-color, color;
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.btcc-round:hover {
    background-color: #75468e;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*BRC*/

.brc-team:hover {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: yellow;
    transition-property: background-color, color;
    color: #333;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.brc-round:hover {
    background-color: yellow;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*SBK*/

.sbk-team:hover {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #b21e27;
    transition-property: background-color, color;
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.sbk-round:hover {
    background-color: #b21e27;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*British GT*/

.bgt-team:hover {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #606466;
    transition-property: background-color, color;
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.bgt-round:hover {
    background-color: #606466;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*British Rally Championship*/

.brallyc-team:hover {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #000;
    transition-property: background-color, color;
    color: #fff;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.brallyc-round:hover {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*End of hover check*/

.team-name-header {
    width: 40%;
    height: auto;
    font-family: 'Teko', 'san-serif';
    font-weight: 400;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    align-content: flex-start;
    text-transform: uppercase;
    text-decoration: none;
}

.driver-list {
    width: 60%;
    height: auto;
    padding: 5px 10px 5px 10px;
    justify-content: flex-start;
}

.driver-name {
    font-weight: 300;
    font-size: 18px;
}

/*Video section*/

video {
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.video-player {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-max-logical-height: 210px;
}

/*Visit championship website link button*/

.visit-champ-site {
    font-family: 'Teko', 'sans-serif';
    font-size: 40px;
    font-weight: 200;
    background-color: #333;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
}

.visit-champ-site a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.visit-champ-site:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    justify-content: center;
}

/*Return to championship page section button*/

.link-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Contacts Page*/

.contact-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text-box-area {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-checkbox {
    display: flex;
    justify-content: flex-start;
}

.checkbox-area{
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    margin: 10px 0;
}

.champ-select-box {
    display: block;
    padding: 10px 0px 10px 0px;
    height: 15px;
    width: 15px;
    margin: 0px 50px 0px 0px;
}

.champ-select-box-option {
    width: 150px;
    padding: 5px 5px 5px 5px;
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-submit-button-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.champ-submit-button {
    width: 250px;
    margin: 15px 0px 0px 0px;
    height: 50px;
    background-color: #333;
    border: 0;
    color: #fff;
    font-family: 'Teko', 'sans-serif';
    font-size: 40px;
    font-weight: 200;
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;
}

.champ-submit-button:hover {
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: #000;
    border: none;
}

/*Championship, circuits and events page section images and content*/

.championship,
.circuits,
.events {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.championship-overview,
.circuit-overview,
.events-overview {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px 10px 3px 10px;
}

.championship-image-section,
.circuit-image-section,
.event-image-section {
    display: block;
    width: 100%;
}

.championship-info,
.circuit-info,
.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200;
}

.championship-name,
.event-name,
.circuit-name {
    font-family: 'Teko', 'sans-serif';
    font-size: 40px;
    font-weight: 200;
    margin: 0px 10px 0px 5px;
}

.championship-facts,
.event-facts,
.circuit-facts {
    font-size: 20px;
    margin: 0px 10px 20px 5px;
}

.championship-text,
.circuit-text,
.event-text {
    height: 150px;
    padding-bottom: 5px;
    background-color: #ccc6c5;
}

.circuit-text {
    height: 130px;
}

.event-text {
    height: 180px;
}

.circuit-fastest-lap {
    font-weight: 100;
}

.championship-visit-button,
.circuit-visit-button,
.event-visit-button {
    background-color: #333;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 350px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
}

.championship-visit-button a,
.circuit-visit-button a,
.event-visit-button a {
    font-family: 'Teko', 'sans-serif';
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.championship-visit-button:hover,
.circuit-visit-button:hover,
.event-visit-button:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    justify-content: center;
}

/*Footer areas*/

.footer-all {
    background-color: #000;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-areas {
    color: #fff;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-about {
    width: 100%;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.around-the-web {
    margin: 0 0 20px 0;
}

.external-sites {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.external-sites a {
    text-decoration: none;
    font-family: "Teko", "sans-serif";
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    transition: 0.3s ease-in-out;
}

.external-sites a:hover {
    transition-property: background-color;
    background-color: #333;
    transition: 0.3s ease-in-out;
}

.social-links-area {
    margin: 10px 0 25px 0;
    justify-content: center;
    height: auto;
}

.footer-about-header {
    padding: 0;
}

.footer-about-paragraph {
    padding: 0;
}

.footer-areas-header {
    font-family: 'Teko', 'sans-serif';
    font-size: 30px;
    text-align: left;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-areas-paragraph {
    font-size: 18px;
    text-align: justify;
    font-weight: 200;
}

.social-links {
    margin: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.social-links li a {
    text-decoration: none;
}

.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    margin: 0px 8px 0px 8px;
    color: #fff;
    font-size: 20px;
    line-height: 7px;
    background-color: #000;
    transition: 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.social-links li a i:hover {
    transition-property: background-color;
    transition: 0.35s ease-in-out;
    background-color: #333;
}

@media (min-width: 667px) {
    
    .video-player {
        -webkit-max-logical-height: 330px;
    }
}

@media (min-width: 768px) {
    
    /*Home page link area*/
    
    .home-page-links {
        width: 500px;
    }
    
    /*Navbar section for larger screens*/
    
    .navbar-dropdown {
        display: none;
    }
    
    .navbar-display {
        display: block;
    }
    
    .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-transform: uppercase;
    }

    /*End of navbar section*/

    .site-intro {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .site-intro-text {
        width: 80%;
    }
    
    .footer-areas {
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-about {
        margin: 10px;
        width: 45%;
        height: auto;
    }
    
    .footer-links {
        margin: 10px;
        width: 45%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .social-links-area {
        width: 100%;
        height: auto;
    }
    
    /*Championship pages*/
    
    .link-button-section {
        flex-direction: row;
    }
    
    .link-button {
        margin: 0 20px;
    }
    
    /*Contacts Page*/
    
    .contact-row {
        width: 60%;
    }
    
    .input-box {
        width: 500px;
    }
    
    /*Circuits pages*/
    
    .championship-overview,
    .circuit-overview,
    .events-overview {
        width: 47%;
        display: flex;
        justify-content: center;
    }
    
    .link-button {
        width: 300px;
    }
    
    video {
        width: 700px;
        height: auto;
        padding-top: 10px;
    }
    
    .video-player {
        -webkit-max-logical-height: 410px;
    }

}

@media (min-width: 992px) {
    
    .contact-row {
        width: 45%;
    }
    
    .site-intro {
        display: flex;
        justify-content: center;
        padding: 100px 0;
    }
    
    .site-intro-text {
        width: 60%;
    }
    
    .teams-schedule-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .schedule-section {
        width: 47%;
    }
    
    .teams-driver-section {
        width: 47%;
    }
    
    video {
        width: 800px;
        height: auto;
        padding-top: 10px;
    }
    
    .video-player {
        -webkit-max-logical-height: 460px;
    }
    
    .footer-areas {
        width: 75%;
    }
}
