@import url('https://fonts.googleapis.com/css?family=Teko:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

* {
    margin: 0;
}

.container {
    width: 100%
}

.overview {
    text-align: center;
}

/*Header Area*/

/*Front page images*/

.btcc-page-image {
    background-image: url("../Images/TouringCar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.brc-page-image {
    background-image: url("../Images/Rallycross.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.bgt-page-image {
    background-image: url("../Images/British-GT.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.sbk-page-image {
    background-image: url("../Images/Superbike.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.brallyc-page-image {
    background-image: url("../Images/Rally.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.historics-page-image {
    background-image: url("../Images/1980s-Benetton.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

.main-image-shade {
    background-color: rgb(0, 0, 0, 0.6);
}

/*Nav elements along the top of the site basic formatting*/

.nav-elements {
    position: relative;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: center;
	margin: 0;
	width: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: "Teko", "sans-serif";
    list-style-type: none;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-contents {
    width: 85%;
    display: flex;
    justify-content: center;
}

.navbar-links {
    text-transform: uppercase;
}

.navbar-links div button {
    text-transform: uppercase;
}

/*Nav drop down areas*/

.dropdown {
    float: left;
    overflow: hidden;
    text-transform: uppercase;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
	-webkit-box-shadow: 7px 4px 12px 2px rgba(103,103,103,0.37);
	-moz-box-shadow: 7px 4px 12px 2px rgba(103,103,103,0.37);
	box-shadow: 7px 4px 12px 2px rgba(103,103,103,0.37);
    min-width: 160px;
    list-style-type: none;
    z-index: 1; 
}

.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;
}

.dropdown-content a:hover {
	transition-property: background-color;
    background-color: #333;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Header section of writing*/

.site-intro {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-intro-text {
    width: 85%;
}

.site-intro-header {
    font-size: 30px;
    color: #fafafa;
}

.site-intro-paragraph {
    color: #fafafa;
    font-size: 20px;
}

/*Championship Sections*/

.section-container {
    display: flex;
    justify-content: center;
}

.section-layout {
    width: 85%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.championship-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.events-circuit-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.site-header {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding: 15px 5px;
    text-transform: uppercase;
}

.section-header {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding: 15px 5px;
    text-transform: uppercase;
}

.section-paragraph {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
    padding: 15px 5px;
    /*text-align: justify;*/
}

.championships-section {
    width: 100%;
}

.events-circuit-section {
    width: 100%;
}

.championship-image {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    max-width: 100%;
}

.championship-description {
    width: 85%;
    color: #fff;
}

.championships-intro {
    width: 100%;
}

.events-circuit-intro {
    width: 100%;
}

.championship-heading {
    font-family: 'Teko', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    text-transform: uppercase;
}

.championship-paragraph {
    font-family: 'Oswald', 'san-serif';
    font-weight: 300;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.divider-line {
    height: 1.5px;
    background-color: #676767;
    border: none;
}

/*Championships Image and effects*/

#btcc-image {
    background-image: url("../Images/TouringCar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#brc-image {
    background-image: url("../Images/Rallycross.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#bgt-image {
    background-image: url("../Images/British-GT.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#bsbk-image {
    background-image: url("../Images/Superbike.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#brallyc-image {
    background-image: url("../Images/Rally.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#historics-image {
    background-image: url("../Images/1980s-Benetton.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#events-image {
    background-image: url("../Images/Events.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

#circuits-image {
    background-image: url("../Images/Racetrack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 0 auto;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.championship-heading {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.championship-heading a {
    text-decoration: none;
    color: #fff;
}

.championship-paragraph {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.championship-paragraph a {
    text-decoration: none;
    color: #fff;
}

.championship-image:hover .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0.7;
} 

.championship-image:hover .championship-heading {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.championship-image:hover .championship-paragraph {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

/*Individual championship schedules*/

.schedule-teams-drivers {
    width: 85%;
}

.schedule div h4 {
    font-family: 'Oswald', 'san-serif';
    font-weight: 400;
}

.championship-round {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000;
    border-left: 1px solid;
}

.championship-round p {
    padding: 0;
    margin: 0;
}

.championship-round::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Teko', 'sans-serif';
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.championship-round::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
}

/*Footer areas*/

.footer-all {
    background-color: #000;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-areas {
    color: #fff;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-about {
    width: 100%;
    margin: 10px 10px 20px 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-btcc-twitter-feed {
    width: 100%;
    margin: 10px 5px 20px 5px;
}

.external-sites {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.external-sites a {
    text-decoration: none;
    font-family: "Teko", "sans-serif";
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    transition: 0.3s ease-in-out;
}

.external-sites a:hover {
    transition-property: background-color;
    background-color: #333;
    transition: 0.3s ease-in-out;
}

.social-links-area {
    width: 100%;
    margin: 10px 10px 25px 10px;
    justify-content: center;
}

.footer-about-header {
    padding: 0;
}

.footer-about-paragraph {
    padding: 0;
}

.footer-areas-header {
    font-family: 'Teko', 'sans-serif';
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-areas-paragraph {
    font-family: 'Oswald', 'sans-serif';
    font-size: 18px;
    text-align: justify;
    font-weight: 200;
}

.social-links-area {
    height: auto;
    width: 100%;
    margin: 10px 10px 10px 10px;
}

.social-links {
    margin: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    margin: 0px 8px 0px 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 7px;
    background-color: /*#525252*/#000;
    transition: 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li a i:hover {
    transition-property: background-color;
    transition: 0.35s ease-in-out;
    background-color: #333;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

@media (min-width: 768px) {

    .site-intro {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .championship-image {
        margin: 10px;
        height: 200px;
        width: 40%;
    }
    
    .footer-areas {
        margin: 10px;
        justify-content: center;
    }
    
    .footer-about {
        margin: 10px;
        width: 47%;
        height: auto;
    }
    
    .footer-links {
        margin: 10px;
        width: 47%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .footer-btcc-twitter-feed {
        margin: 10px;
        width: 100%;
        height: auto;
    }
    
    .social-links-area {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    
    .site-intro {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .championship-image {
        margin: 10px;
        min-height: 250px;
        width: 28%;
    }
    
    .events-circuit-image {
        height: 350px;
    }
}
